<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
        <meta name="generator" content="Hugo 0.88.1">

        <title>{% block title %}Welcome!{% endblock %}</title>
       
        
        <link rel="stylesheet" href="{{ asset('css/base1.css') }}"/>
        <link href="{{ asset('css/grid.css') }}" rel="stylesheet"/>
        <link href="https://bootswatch.com/5/journal/bootstrap.min.css" rel="stylesheet"/>
        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}"/>

        <!-- Bootstrap CSS CDN -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
        <!-- Our Custom CSS -->
        <link rel="stylesheet" href="{{ asset('css/style4.css') }}">

        <!-- Font Awesome JS -->
        <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
        <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>

            {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}

        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
    </head>
    <body>
   
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        

        <div class="wrapper">
        <!-- Sidebar  -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3>Gozem Agency</h3>
                <strong>GA</strong>
            </div>

            <ul class="list-unstyled components">
                <li class="active">
                    <a href="{{ path('racine_du_site') }}" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                        <i class="fas fa-home"></i>
                        Home
                    </a>
                    <ul class="collapse list-unstyled" id="homeSubmenu">
                        <li>
                            <a href="{{ path('racine_du_site') }}">Home 1</a>
                        </li>
                    </ul>
                </li>
                <li>
                    
                   
                        {% if not app.user %}
                       <li>
                           <a href="{{ path('security_login') }}">Connexion</a>
                       </li>
                        {% else %} 
                        
                       <li>
                           <a href="{{ path('security_logout') }}">Deconnexion</a>
                       </li>
                      {% endif %}  
                    </ul>
                </li>
                
            </ul>

            <ul class="list-unstyled CTAs">
                <li>
                    <a href="{{ path('auto_dem')}}" class="download">Autre reservation</a>
                </li>
            </ul>
        </nav>

        <!-- Page Content  -->
        <div id="content">

            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">

                    <button type="button" id="sidebarCollapse" class="btn btn-info">
                        <i class="fas fa-align-left"></i>
                        <span>Hide</span>
                    </button>
                    <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fas fa-align-justify"></i>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="nav navbar-nav ml-auto">
                            
                            {% if not app.user %}
                            <li class="nav-item active">
                                <a class="nav-link" href="{{ path('security_registration') }}">S'inscrire</a>
                            </li>
                           <li class="nav-item active">
                                <a class="nav-link" href="{{ path('security_login') }}">Connexion</a>
                           </li>
                           
                           {% else %} 
                        
                           <li class="nav-item active">
                               <a class="nav-link" href="{{ path('security_logout') }}">Deconnexion</a>
                           </li>
                           <li class="nav-item active">
                               <a class="nav-link" href="{{ path('security_logout') }}"> {{ app.user.firstname }}</a>
                           </li>
                         {% endif %}  
                        </ul>
                    </div>
                </div>
            </nav>
            
           <div >
                {% block profile %}
                    
                {% endblock %}
            </div>
            <div >
                {% block changer_nom %}
                    
                {% endblock %}
            </div>
            <div >
                {% block changer_password %}
                    
                {% endblock %}
            </div>
            
        </div>
    </div>

    <!-- jQuery CDN - Slim version (=without AJAX) -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <!-- Popper.JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
            });
        });
    </script>
      
    </body>
</html>
